einops==0.8.2
imgaug==0.4.0
matplotlib==3.7.4
numba==0.58.1
numpy==1.24.4
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
pyts==0.13.0
PyWavelets==1.4.1
PyYAML==6.0.1
PyYAML==6.0.3
scipy==1.17.1
tftb==0.1.4
timm==0.9.12
torch==2.3.0+cu121
tqdm==4.67.1
