einops==0.8.2
faiss==1.10.0
h5py==3.16.0
imgaug==0.4.0
matplotlib==3.10.9
numba==0.65.1
numpy==2.4.4
opencv_python==4.11.0.86
peft==0.11.0
pyts==0.13.0
PyYAML==6.0.3
scikit_learn==1.8.0
scipy==1.17.1
skimage==0.0
tftb==0.2.0
torch==2.3.0+cu121
tqdm==4.67.1
transformers==4.46.3
ultralytics_thop==2.0.18
